.git
.github
node_modules
dist
coverage
.env
.env.*
secrets
backups
*.dump
*.backup
*.zip
storage/uploads/*
storage/tmp/*
storage/logs/*
npm-debug.log*
yarn-error.log*
.DS_Store
.pnp.cjs
.pnp.loader.mjs
.yarn/install-state.gz
