node_modules
dist
coverage
.env
.env.*
!.env.example
!.env.production.example
secrets/*.json
storage/uploads/*
storage/tmp/*
storage/logs/*
!storage/uploads/.gitkeep
!storage/logs/.gitkeep
npm-debug.log*
yarn-error.log*
.DS_Store
.pnp.cjs
.pnp.loader.mjs
.yarn/install-state.gz
